<html>
<body>
  <p>Hello <%= user.email %></p>
  <a href="/posts/new" class="btn btn-outline-warning btn-sm" >Post a New product</a>
  <% if (user) { %>
    <a href="/logout"><i class="material-icons left"></i>Log Out</a>
  <% } else { %>
    <a href="/auth/google"></i>Login with Google</a>
  <% } %>    
  
</body>
</html>