
<form id="new-form" action="/movies" method="POST">
  <label>Product name:</label>
  <input type="text" name="product"><br><br>
  <label>Brand:</label>
  <input type="text" name="brand"><br><br>
  <label>Barcode:</label>
  <input type="text" name="barcode"><br><br>
  <label>YouTube Link</label>
  <input type="text" name="youtubeLink"><br><br>

  <input type="submit" value="Add Movie">
</form>